
.error {
margin-top: 5rem;
font-size: 1.75rem;
text-align: center;
color: rgb(191, 149, 83);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-left: 3rem;
margin-right: 3rem;
}

.button-search{
    font-size: 1.4rem;
    margin-top: 2rem;
    width: 20vw;
    height: 2.8rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(102, 54, 157);
    color:rgb(209, 235, 65);
    letter-spacing: 0.3rem;
    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.button-search:hover {
   transform: translateY(-1px);
   box-shadow: 0 0 15px rgb(185, 127, 36);
   transition: all 0.3s ease-in;
   background-color: rgb(83, 42, 129);
   color:rgb(215, 238, 85);
}
